body {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 1em;
}

.box {
    background: #f2f2f2;
    border: 1px solid black;
    padding: 1em 0;
}

.box:nth-child(odd) {
    background: #cccccc;
    border: 1px solid black;
}